@page
@model IntenseWizardy_ShadowsOfVeilstorm.Pages.BackstoryModel
@{
    ViewData["Title"] = "Backstory";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/HomeScreen.css" />

<div class="text-center">
    <h1> Intense Wizardy: Shadows of Veilstorm</h1>
    <h1> Backstory</h1>
</div>